html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
}
img {
    max-width: 100%;
    height: 100%;
    vertical-align: top;
}

body {
    background-color: #2f364a;
    color: #fff;
    font-family: 'Arial', serif;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    background-color: #2f364a;
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.logo a {
    font-weight: 600;
    font-size: 30px;
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}
.logo a:hover {
    text-shadow: 0px 0px 5px #fff;
}
.main_menu_list {
    display: flex;
    list-style: none;
}
.main_menu_list-item {
    /* padding: 10px; */
    color: #000;
}

.main_menu_list-item a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}
.main_menu_list-item a:hover {
    background-color: #181c25;
}

a:visited {
    columns: #fff;
}
.form {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
}
.form_select {
    flex: 0 0 120px;
    outline: none;
    background-color: transparent;
    color: #fff;
    height: 35px;
    margin-right: 10px;
}
.form_select:hover {
    border-color: #181c25;
    color: #fff;
}
.form_select option {
    color: #000;
}
.search_block {
    display: flex;
    border: 1px solid grey;
    background-color: #2f364a;

}
.search_block-field {
    height: 100%;
    border: none;
    padding: 0 5px;
    outline: none;
    font-size: small;
    color: #fff;
    background-color: transparent;
}
.search_block-btn {
    height: 100%;
    background: transparent;
    outline: none;
    color: #fff;
    border: none;
    width: 30px;
    cursor: pointer;
}

main {
    flex: 1 1 auto;
    background-color: #fff;
    color: #000;
    padding: 0 20px;
}
.main_top {
    /* background-color: lightgrey; */
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.pagination {
    margin-right: 20px;
}
.films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
}
.films_card {
    width: 20%;
    /* width: 25%; */
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
}
.films_card_inner {
    cursor: pointer;
    transition: top 1s, left 1s;
}

.films_card_inner h4 {
    font-weight: normal;
    font-size: 14px;
    margin-top: 10px;
    overflow: hidden;
    height: 16px;
}
.films_card_inner .film_genre {
    display: none;
}
.films_card_inner .film_lang {
    display: none;
}
.films_card_inner .film_description {
    display: none;
}
.films_card_inner .film_fav,
.films_card_inner .film_fav_active {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('./img/heart-empty.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    right: 5px;
    bottom: 20px;
    cursor: pointer;
}
.films_card_inner .film_fav:hover,
.films_card_inner .film_fav_active {
    background-image: url('./img/heart-full.svg');
}
/* ============================================ */

.films_card-modal {
    position: fixed;
    border: 1px solid grey;
    z-index: 999;
    width: 500px;
    box-shadow: 0 0 10px #000;
    padding: 10px;
    background-color: #fff;
    top: 30%;
    left: 30%;
    opacity: 1;
    transition: all .5s;
    /* display: flex;
    flex-wrap: wrap; */
}
.films_card-modal img {
    margin-right: 10px;
    float: left;
    cursor: pointer;
}
.films_card-modal h4 {
    font-size: 20px;
    display: block;
    margin: 0;
}
.films_card-modal .film_genre {
    display: block;
    font-style: oblique;
    font-size: 15px;
}
.films_card-modal .film_lang {
    display: block;
    font-style: oblique;
    font-size: 15px;
}
.films_card-modal .film_description {
    display: block;
    font-size: 13px;
}
.films_card-modal .film_fav,
.films_card-modal .film_fav_active {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('./img/heart-empty.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #fff;
    left: 2px;
    top: 2px;
    cursor: pointer;
    border-radius: 50%;
}
.films_card-modal .film_fav:hover,
.films_card-modal .film_fav_active {
    background-image: url('./img/heart-full.svg');
}

.films_card-modal .close_img {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('./img/close.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    /* background-color: #fff; */
    right: 5px;
    top: 5px;
    cursor: pointer;
}


/* =============================================== */

.container {
    display: flex;
}
footer {
    background-color: #2f364a;
}
footer img {
    height: 20px;
    vertical-align: middle;
    filter: invert();
}

.modal_wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.7;
	background-color: black;
	cursor: pointer;
	z-index: 1;
}

.hide {
    display: none;
}
.pagination {
    margin: 0 auto;
}
.pagination ul {
    display: flex;
    list-style: none;
    align-self: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    padding: 5px;
    border: 1px solid lightgrey;
    color: #000;
}

.pagination a:hover,
.pagination .active {
    background-color: grey;
    color: #fff;
}

.prev_next_noactive {
    pointer-events: none;
    opacity: .3;
}